################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/AplikacjaProjektIO/.vs/AplikacjaProjektIO/FileContentIndex/af4020f9-817c-4aa6-88db-ca56230e1344.vsidx
/AplikacjaProjektIO/.vs/AplikacjaProjektIO/FileContentIndex/704ecc8b-7fed-4709-a908-97327b40a53b.vsidx
/AplikacjaProjektIO/.vs/AplikacjaProjektIO/FileContentIndex/7928bd97-38de-400e-b3c7-b5c77d41c779.vsidx
/AplikacjaProjektIO/.vs/AplikacjaProjektIO/FileContentIndex/8ebe9a6e-47ae-45d3-a2e9-f98ba72e6f6f.vsidx
/AplikacjaProjektIO/.vs/AplikacjaProjektIO/FileContentIndex/c0a7fce5-3608-41a7-be98-f0a7e0166837.vsidx
